.MessageFormContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
}

.MessageForm {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-right: 3px;
}

.MessageFormInput {
  padding: 5px;
  outline: none;
  border-radius: 15px;
  background: transparent;
  color: #ffffff;
  border: none;
  font-size: 1.25rem;
  width: 100%;
  font-weight: 300;
  font-family: "inter", sans-serif;
}

.MessageFormInput::placeholder {
  color: #ffffff80;
}

.ChatContainerActionModalTitle {
  padding: 3px 7px;
  background: #ffffff1a;
  border-radius: 10px;
  font-size: 1rem;
}

.ChatContainerAction {
  display: flex;
  border: 1px solid white;
  padding: 7px;
  border-radius: 15px;
}

.ChatContainerActionAdd {
  height: 34px;
}

.ChatContainerActionModal.on {
  position: absolute;
  top: -100px;
  left: -10px;
  background: #c9c9c91a;
  backdrop-filter: blur(50px);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ChatContainerActionModal.off {
  display: none;
}

.ChatContainerActionModalBlock {
  background: #000000b3;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  gap: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

.ChatContainerActionModalBlock > div {
  display: flex;
  flex-direction: column;
}

.ChatContainerActionModalBlock > div > span {
  font-size: 0.6rem;
}

.ChatContainerActionModalBlock p {
  margin: 0;
}
