:root {
  --background: #1D1D1D;
}

.App {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
  background-image: url("./Assets/background.webp");
  background-size: cover;
  background-position: bottom;
}

.box {
  background-color: #00000026;
  border-radius: 15px;
}

.underBox {
  
}

.Menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.MenuTitle {
  display: flex;
  gap: 15px;
  align-items: center;
}

.MenuTitleText {
  font-size: 2rem;
  fontweight: 500;
  margin: 0;
}

.ChannelMenu {
  padding: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.ChannelMenuList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.AvatarMenu {
  display: flex;
  padding: 10px;
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 15px;
}

.ChatContainerAction {
  display: flex;
  border: 1px solid white;
  padding: 7px;
  border-radius: 15px;
  gap: 10px;
  position: relative;
}

.ChatContainerActionAdd {
  height: 34px;
}

.ChatContainerActionModal.on {
  position: absolute;
  top: -50px;
  left: 0;
  background: var(--background);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  gap: 2px;
}

.ChatContainerActionModal.off {
  display: none;
}



